:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #0D7377;
    --cor-hover: #5a5a5a;

    --fonte-primaria:"Krona One", sans-serif ;
    --fonte-secundaria:'Montserrast', sans-serif;
}


body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-dark-wall-background-material-image_279996.jpg);

    background-size: 100%;
    color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    width: 100vw;
    font-family: var(--fonte-primaria);  
}

.botao_entrar {
    /* background-color: c red green blue)); */
    color: var(--cor-terciaria);
    border-radius: 510px;
    padding: 1px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    width: auto;
    background: none;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
}
.botao_entrar:hover {
    background-color: var(--cor-hover);
    border-width: 2px;
    border-style: solid;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border: none;
    padding: 5px;
    font-size: 1.25rem;
    cursor: pointer;
}

.botao_limpar{
    color: var(--cor-terciaria);
    border-radius: 510px;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    width: auto;
    background: none;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
}

.botao_limpar:hover {
    background-color: var(--cor-hover);
    border-width: 2px;
    border-style: solid;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border: none;
    padding: 5px;
    font-size: 1.25rem;
    cursor: pointer;
}

.txtUsuario {
    background-color: #bcbcbd;
    border-radius: 510px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
}
.txtUsuario:hover {
    background-color: #ffffff;
    border-radius: 510px;
    padding: 11px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
}
.txtSenha {
    background-color: #bcbcbc;
    border-radius: 510px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
}
.txtSenha:hover {
    background-color: #fff;
    border-radius: 510px;
    padding: 11px;
    margin-bottom: 10px;
    width: 100%;
    border: none;

}



.select_genero {
    background-color: #bcbcbc;
    border-radius: 510px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
}
.select_genero:hover {
    background-color: #fff;
    border-radius: 510px;
    padding: 11px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
}
