@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');  * 

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
}

 *   {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    
}
.titulo-destaque {
     color: var(--cor-terciaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu_home{
    color: var(--cor-terciaria);
    font-family: 'Montserrast', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;

}
.cabecalho__menu_sobremim{
    color: var(--cor-terciaria);
    font-family: 'Montserrast', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
.cabecalho__menu_curriculo{
    color:#ff0000;
    font-family: 'Montserrast', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
.apresentaçao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}
.minha_imagem {
    width: 350px;
    height: auto;
    margin-right: -10%;
    margin-top: 0%;
    margin-left: 0;  
    display: flex; 
    
}
.apresentaçao__conteudo {
    width: 615px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
.apresentaçao__conteudo__titulo {
    font-size: 26px;
    font-family:  "Krona One", serif;
}
.apresentaçao__conteudo__paragrafo {
    font-size: 20px;
    font-family: "Montserrat", serif;
}
.nome_enzo:hover{
    color: red;
}
.apresentaçao__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.apresentaçao__link_subtituloh2{
    font-family:"Krona One", sansserif;
    font-weight: 400;
    font-size: 24px;
}
.apresentaçao__links__link01 {
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0; 
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", serif;
    margin-right: 3%;
 
}
.apresentaçao__links__link01:hover{
    background-color: #272727;
    padding: 7%;
}


.apresentaçao__links__link02 {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    color: var(--cor-terciaria);
    text-decoration: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    font-family: "Montserrat", serif;
    margin-right: 3%;

}
.apresentaçao__links__link02:hover{
    background-color: rgb(0, 174, 255);
    padding: 7%;
    cursor: all-scroll;
}
.apresentaçao__links__link03 {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria) ;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", serif;
    margin-right: 3%;
}
.apresentaçao__links__link03:hover{
    background-color: blue;
    padding: 7%;
    font-size: 20px;
    cursor:alias;
}
.apresentaçao__links__link04{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", serif;
    margin-right: 3%;
}
.apresentaçao__links__link04:hover{
    background-color: rgb(255, 0, 179);
    padding: 7%;
    cursor:grab;

}
.roda_pe{
    color: #000000;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: 'Monteserrat', sans-serif;
    padding: 9px;
    font-weight: 400;
}
.roda_pe:hover{
    background-color: red;
}

.logo_instagram{
    border: 15px solid red;
}
.logo_instagram:hover{
    color: red;
    background-color: red;
}